<%= render 'shared/load_css' %>

<div class='container'>
  <div class='row'>
    <h1>Documented Changes</h1>
    <div class='col-md-2'>
      <a href="<%= new_documented_change_path %>"
         class='btn btn-primary'
         style='margin-top: 20%;'
      >
        Add New Change
      </a>
    </div>

    <div class='col-md-10'>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th class='col-sm-8'>Summary</th>
            <th class='co-sm-3'>Created</th>
            <th class='col-sm-1'></th>
          </tr>
        </thead>
        <tbody>
          <% @documented_changes.each do |change| %>
            <tr>
              <td>
                <a href="<%= documented_change_path(change) %>">
                  <%= change.summary %>
                </a>
              </td>
              <td><%= change.created_at %></td>
              <td>
                <a href="<%= documented_change_path(change) %>"
                   class='btn btn-danger btn-sm pull-right'
                   data-method='delete'
                   data-confirm='Are you sure you want to delete this change?'
                >
                  X
                </a>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
