<%= render 'shared/load_css' %>

<div class='container'>
  <div class='row'>
    <h2>
      <%= @documented_change.summary %>
    </h2>

    <div class='col-md-2'>
      <a href="<%= documented_changes_path %>"
         class='btn btn-primary'
         style='margin-top: 20%;'
      >
         Back
      </a>
    </div>

    <div class='col-md-10'>
      <%= form_for @documented_change, url: {action: :update} do |f| %>
        <div class='form-group'>
          <%= label_tag :summary %>
          <%= f.text_area :summary, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= label_tag :text %>
          <%= f.text_area :text, class: 'form-control', rows: 10 %>
        </div>
        <button type='submit' class='btn btn-primary'>Submit</button>
      <% end %>
    </div>
  </div>
</div>
